.slider {
    position: relative;
    max-width: 600px; /* Adjust width as needed */
    margin: 0 auto;
    overflow: hidden;
}

.images {
    display: flex;
    transition: transform 0.5s ease;
}

.images img {
    width: 100%;
    height: auto;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#prevBtn {
    left: 0;        
}

#nextBtn {
    right: 0;
}